.flex {
  display: flex;
  flex-wrap: wrap;

  .app-navigation,
  .app-content {
    flex: 1 100%;
  }

  @include media(tablet) {
    flex-wrap: nowrap;

    .app-navigation {
      flex: 0 90px;
    }
  }

} // .flex
