.flex {
  display: flex;
  flex-wrap: wrap;

  .app-navigation,
  .app-content {
    flex: 1 100%;
  }

  @include media(tablet) {
    flex-wrap: nowrap;

    .app-navigation {
      flex: 0 90px;
    }

  }

} // .flex

.app-content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;

  .full-zone {
    flex: 0 100%;
  }

  .half-zone {
    flex: 0 100%;
  }

  @include media(tablet) {
    margin-bottom: 25px;

    .half-zone {
      flex: 1 50%;
    }
  } // @tablet

}
