.flex {
  display: flex;
  flex-wrap: wrap;

  .app-navigation,
  .app-content {
    flex: 1 100%;
  }

  @include media(tablet) {
    flex-wrap: nowrap;

    .app-navigation {
      flex: 0 90px;
    }
  }

} // .flex

.app-content {
  display: flex;
  flex-wrap: wrap;

  .full-zone {
    flex: 0 100%;
  }

  .half-zone {
    flex: 0 100%;
  }

  @include media(tablet)
  {
    .half-zone {
      flex: 1 50%;
    }
  } // @tablet

}
