.app-content {
}

.header-zone {
  display: flex;

  h2 {
    display: none;
  }

  form {
    flex: 1;
    background: $color-grey-light;
    border-bottom: 1px solid $color-grey;
  }

  @include media(landscape) {

    h2 {
      @include large-medium;
      display: block;
      padding: 10px 25px 0;
      color: $color-grey-dark;
      width: auto;
    }

    form {
      border-left: 1px solid $color-grey;
      text-align: right;

      input {
        max-width: 380px;
      }
    }
  } // @landscape

} // .header-zone


.alert-message {
  @include small-light;
  margin: 25px;
  color: $color-white;
  background: $color-primary;
  border-radius: 5px;
  padding: 10px 15px;
  display: flex;
  align-items: center;

  p {
    line-height: 1.3;
    margin: 0;
    padding-right: 25px;
    flex: 1;

    span {
      font-weight: bold;
      padding-right: 5px;
    }
  }

  a {
    flex: 0 20px;
    background: url("../img/icon-close.svg") center center no-repeat;
    height: 20px;
  }

}
