form {
  padding: 15px;
}

input[type="text"],
input[type="search"],
textarea,
select {
  width: 100%;
  height: auto;
  padding: .7rem;
  background-color: $color-white;
  border: 1px solid $color-grey;
  border-radius: 5px;
  @include small-light;
  color: $color-grey-dark;
  outline: 0;
}

input[type="search"] {
  background: url("../img/icon-search-box.svg") 97% center no-repeat;
  background-size: contain;
}


input:focus,
textarea:focus,
select:focus {
  box-shadow: inset 2px 2px 10px 0px rgba(0, 0, 0, .1);
  border-color: $color-primary;
  background-color: #fff;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("../img/icon-down-arrow.svg") 97% center no-repeat;
  background-color: $color-white;
  color: rgba(0, 0, 0, .7);
  background-size: 20px;
}

textarea {
  min-height: 8rem;
}
